
{% extends "layout.html.twig" %}

{% block title %}Votre Panier {% endblock %}

{% block content %}
{% for panier in paniers %}
{#<article>
    <h2><a id="Text_Title_Article_Layout" class="articleTitle" href="/article/{{ article.id }}">{{ article.title }}</a></h2>
    <img src="../img/{{ article.image }}" alt="...">
</article>#}
{{ panier.id_user }} aa {{ panier.id_product }}
{% endfor %}
{% endblock %}

